---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Header from "../components/header.astro";
import Experience from "../components/experience.astro";
import Proyect from "../components/proyect.astro";
import People from "../components/people.astro";
import AboutMe from "../components/aboutme.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
---

<Layout pageTitle="Pagina Inicial">
  <Nav />
  <Header />
  <Experience />
  <Proyect />
  <People />
  <section class="about-contact">
    <div class="container-about-contact">
      <AboutMe />
      <Contact />
    </div>
  </section>
  <Footer />
</Layout>

<style>
  .about-contact {
    display: flex;
    align-content: center;
    height: 100hv;
  }
  .container-about-contact {
    display: flex;
    flex-direction: row;
  }
</style>
