<div id="aboutme" class="about-section">
  <div class="container-about">
    <h2 class="title-section">About me</h2>
    <p class="p-about">
      Technology, learning and innovation enthusiast. I enjoy exploring new
      ideas, solving complex problems, and sharing knowledge with others. My
      main interests are software development, artificial intelligence, and data
      science, where I continuously seek to grow and create impactful solutions.
      <br /><br />
      Beyond technology, I am also driven by teaching and mentoring, helping others
      learn and reach their potential. I strongly believe in the power of effort,
      curiosity, and continuous improvement to achieve great goals. I am always open
      to new challenges and opportunities to evolve both professionally and personally.
    </p>
    <h3 class="title-about text-center">Let's me help you</h3>
    <div class="block">
      <div class="block1">
        <h4>My Location</h4>
        <p>Santa Anita - Lima - Perú</p>
        <h4>Phone Number</h4>
        <p>+51 971427792</p>
      </div>
      <div class="block2">
        <h4>Email Addreess</h4>
        <p>kevin.tupac@unmsm.edu.pe</p>
        <p>kevin.tupac.dev@gmail.com</p>
        <h4>How Can I Help You?</h4>
        <p>
          Tell me about your problem—two brains are better than one! Let’s solve
          it together.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .about-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .container-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
  h3 {
    margin: 20px 0 30px;
  }
  p {
    text-align: justify;
  }
  .block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .block1,
  .block2 {
    width: 100%;
  }
  @media (width < 770px) {
    .block {
      flex-direction: column;
      gap: 0px;
    }
    .container-about {
      width: 80%;
    }
  }
</style>
