<section id="aboutme" class="about-section">
  <div class="container-about">
    <h2 class="title-about title-section">About me</h2>
    <p class="p-about">
      I am passionate about technology, learning, and innovation. I enjoy
      exploring new ideas, solving complex problems, and sharing knowledge with
      others. My main interests lie in software development, artificial
      intelligence, and data science, where I continuously seek to grow and
      create impactful solutions. <br /><br />
      Beyond technology, I am also driven by teaching and mentoring, helping others
      learn and reach their potential. I strongly believe in the power of effort,
      curiosity, and continuous improvement to achieve great goals. I am always open
      to new challenges and opportunities to evolve both professionally and personally.
    </p>
    <h2 class="title-about">Let's me help you</h2>
    <div class="block">
      <div class="block1">
        <h3>Out Location</h3>
        <p>Santa Anita - Lima - Perú</p>
        <h3>Phone Number</h3>
        <p>+51 971427792</p>
      </div>
      <div class="block2">
        <h3>Email Addreess</h3>
        <p>kevin.tupac@unmsm.edu.pe</p>
        <p>kevin.tupac.dev@gmail.com</p>
        <h3>How Can I Help You?</h3>
        <p>
          Tell me about your problem—two brains are better than one! Let’s solve
          it together.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .about-section {
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
  }
  .container-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
  }
  p {
    text-align: justify;
  }
  .block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .block1,
  .block2 {
    width: 100%;
  }
</style>
