---
interface Props {
  imagen: string;
  title: string;
  description: string;
  tag: string[];
}

const { imagen, title, description, tag } = Astro.props as Props;
---

<div class="card-proyecto">
  <img class="img-proyecto" src={imagen} alt="Proyecto-1" />
  <div class="card-information">
    <h3>{title}</h3>
    <p>{description}</p>
    <div class="tags">
      {tag && tag.map((t) => <span class="tag">{t}</span>)}
    </div>
    <div class="buttons">
      <div class="button">Code</div>
      <div class="button">Preview</div>
    </div>
  </div>
</div>
<style>
  .card-proyecto {
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 800px;
  }
  .img-proyecto {
    border-radius: 10px;
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
  .card-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: 10px;
  }

  .card-information h3 {
    font-size: 1.5em;
    color: white;
  }

  .card-information p {
    color: white;
    font-size: 1em;
    margin-bottom: 0 !important;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tag {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tag-imagen {
    border-radius: 10px;
    width: 100%;
    height: 1.5em;
    object-fit: cover;
  }

  .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    color: #131b4d;
  }

  .button:hover {
    background-color: #777;
    color: white;
  }
  @media (width < 750px) {
    .card-proyecto {
      flex-direction: column;
    }
  }
</style>
