<footer class="footer text-white">
  <div class="container text-center">
    <p>&copy; 2024 Kevin Tupac Agüero. Todos los derechos reservados.</p>
    <a href="#yo" class="text-white">Volver al inicio</a>
  </div>
</footer>
<style>
  /* ------------------ Footer ------------------ */
  .footer {
    text-align: center;
    padding-bottom: 1em;
  }
</style>
