---
import { Icon } from "astro-icon/components";
---

<!-- Hero Section -->
<header id="yo" class="hero-section">
  <div class="container">
    <!-- Texto a la izquierda -->
    <div class="text-content">
      <h1>Hi,<br /> I'm Kevin Tupac Agüero</h1>
      <h4>Software Engineer</h4>
      <p>
        I am a student studying Software Engineering at the Universidad Nacional
        Mayor de San Marcos (UNMSM), currently in my fourth year, with a
        concentration in Data Science and IA.
      </p>
      <!-- Botones para Proyectos, GitHub, LinkedIn y Descargar CV -->
      <div class="links">
        <a
          href="https://github.com/Kev-1729"
          target="_blank"
          class="btn btn-outline-dark me-2"
        >
          <Icon name="github" />
        </a>
        <a
          href="https://www.linkedin.com/in/kevin-tupac-ag%C3%BCero/"
          target="_blank"
          class="btn btn-outline-primary me-2"
        >
          <Icon name="linkedin" />
        </a>
        <!-- Botón para descargar el CV -->
        <a
          href="Documentos//CV_Kevin_Tupac_Agüero.pdf"
          download="Kevin-Tupac-CV.pdf"
          class="btn btn-outline-success me-2"
        >
          <Icon name="download" />
        </a>
      </div>
    </div>
    <!-- Imagen a la derecha -->
    <div class="image-container">
      <img src="/img/yo.jpg" alt="Imagen de Kevin" />
    </div>
  </div>
</header>

<style>
  /* ------------------ Hero Section ------------------ */
  .hero-section {
    min-height: 100vh;
    /*width: 100vw;
    margin-left: calc(-50vw + 50%);*/
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  /* Ajustamos el contenedor interno para que haga wrap en pantallas pequeñas */
  .hero-section .container {
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    backdrop-filter: blur(5px);
    max-width: 1000px;
    width: 100%;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    gap: 5px;
  }
  .text-content h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .text-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    border-radius: 10px;
    width: 100%;
    height: 20em;
    object-fit: cover;
  }

  /* ------------------ Botones ------------------ */
  .links {
    display: flex;
    gap: 10px;
  }
  .btn {
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .btn-primary {
    background-color: #131b4d;
    border: none;
  }
  .btn-outline-dark {
    background-color: white;
    border: 2px solid white;
  }
  .btn-outline-primary {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: white;
  }
  .btn-outline-success {
    background-color: #198754;
    border: 2px solid #198754;
    color: white;
  }
  /*
  .btn-outline-dark:hover {
    border: 2px solid black;
    background-color: black;
    color: #fff;
  }

  .btn-outline-primary:hover {
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
  }

  .btn-outline-success:hover {
    background-color: #198754;
    color: black;
  }
*/
  /* ------------------ Media Queries ------------------ */
  @media (width< 770px) {
    /* Navbar centrado y con mayor separación */
    .navbar .navbar-nav {
      text-align: center;
    }

    /* Para el header, apilar el contenido verticalmente */
    .hero-section .container {
      flex-direction: column;
      text-align: center;
    }
    .text-content {
      width: 100%;
      padding: 0 20px 0 20px;
    }

    .image-container {
      width: 100%;
      padding: 0 20px 0 20px;
    }
  }
  @media (max-width: 380px) {
    .hero-section .container {
      justify-content: start;
    }
    .text-content {
      gap: 0px;
    }
    .text-content p {
      font-size: 1rem;
    }
    .text-content h1 {
      font-size: 2.5em;
    }
    .image-container img {
      height: 200px;
    }
  }
</style>
