<nav class="container-navbar">
  <div class="nav">
    <a class="navbar-logo" href="#">KJ</a>
    <div class="navbar-links">
      <li class="nav-item">
        <a class="nav-link" href="#trabajos">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#proyectos">Proyects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutme">About Me</a>
      </li>
    </div>
    <a class="btn" href="#contacto">Contact Me</a>
  </div>
</nav>
<style>
  .container-navbar {
    background-color: #fff;
    transition: background-color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
  }
  .container-navbar * {
    list-style: none;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 20px 0 20px;
  }
  .container-navbar .navbar-logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
  }
  .container-navbar .navbar-links {
    display: flex;
  }
  .container-navbar .nav-link {
    color: #333 !important;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  /* Bot贸n de contacto */
  .container-navbar .btn {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    background-color: #fff;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    border-radius: 10px;
  }
  .container-navbar .nav-link:hover,
  .container-navbar .nav-link.active {
    color: #007bff !important;
  }
  .container-navbar .btn:hover {
    background-color: #0056b3;
    color: white;
  }
  /* Ajustes para el toggler (bot贸n en m贸vil) */
  .container-navbar .navbar-toggler {
    border: none;
    font-size: 1.2rem;
  }
  /* Media Query para dispositivos m贸viles */
  @media (width < 770px) {
    .container-navbar .nav-link {
      font-size: 0.95rem;
    }
    .container-navbar .btn {
      padding: 0.5rem 0.5rem;
      font-size: 0.9rem;
    }
  }
  @media (width < 450px) {
    .nav-link {
      display: none;
    }
    .nav {
      justify-content: space-around;
      min-width: 100%;
    }
  }
</style>
