<section id="testimonio" class="testimonial-section">
  <h2 class="text-center mb-5 fs-1">Comentarios</h2>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Kenneth Ortega M.</h3>
          <p>Cybersecurity</p>
          <div class="texto-people">
            <p>
              Kevin es un alumno ejemplar y se desempeña bien en el área de
              ingeniería, impartió clases a los alumnos de los primeros ciclos
              para mejorar su aprendizaje continuo. felicidades. Kevin es un
              alumno ejemplar y se desempeña bien en el área de ingeniería,
              impartió clases a los alumnos de los primeros ciclos para mejorar
              su aprendizaje continuo. felicidades.
            </p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Fabrizio Mayor C.</h3>
          <p>Cloud Architect Trainee</p>
          <div class="texto-people">
            <p>
              Great soft skills and always with innovative ideas! Kevin es un
              alumno ejemplar y se desempeña bien en el área de ingeniería,
              impartió clases a los alumnos de los primeros ciclos para mejorar
              su aprendizaje continuo. felicidades. Kevin es un alumno ejemplar
              y se desempeña bien en el área de ingeniería, impartió clases a
              los alumnos de los primeros ciclos para mejorar su aprendizaje
              continuo. felicidades. Kevin es un alumno ejemplar y se desempeña
              bien en el área de ingeniería, impartió clases a los alumnos de
              los primeros ciclos para mejorar su aprendizaje continuo.
              felicidades. el área de ingeniería, impartió clases a los alumnos
              de los primeros ciclos para mejorar su aprendizaje continuo.
              felicidades.
            </p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Renzo Hijar M.</h3>
          <p>System Engineer</p>
          <p>
            Kevin es un estudiante talentoso y perseverante, con una capacidad
            de superación destacable. Su creatividad y esfuerzo lo llevarán a
            grandes logros tanto en su desarrollo académico como profesional.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Luis Balarezo R.</h3>
          <p>Professor</p>
          <p>
            I've had the pleasure of working with Kevin, and I can confidently
            say he's a skilled professional. During our time at UNMSM, Kevin's
            strong skills in machine learning became evident. His expertise is
            solid.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Stefano Hernández B.</h3>
          <p>Professor</p>
          <p>
            Kevin destaca por su potencial, conocimientos en Machine Learning y
            Minería de Datos, y dominio de Python para análisis de datos.
            Además, sobresale por sus habilidades blandas y trabajo en equipo,
            siendo un colaborador comunicativo y receptivo. Será un gran aporte
            en cualquier proyecto.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Diego Falla G.</h3>
          <p>Professor</p>
          <p>
            Kevin es un profesional apasionado y dedicado a la inteligencia
            artificial, siempre actualizado y dispuesto a compartir su
            conocimiento. Destaca por su capacidad para resolver problemas
            complejos y trabajar en equipo. Su entusiasmo por el aprendizaje y
            la excelencia lo convierten en un activo valioso. Lo recomiendo sin
            reservas y estoy seguro de su éxito.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Luis Guerra G.</h3>
          <p>Professor</p>
          <p>
            En referencia a una parte académica fue mi ayudante de cátedra en el
            curso “Diseño y análisis de algoritmos” en el ciclo 2024-1 en la
            Escuela de Ingeniería de Sistemas, durante el desarrollo tuvo un
            excelente desempeño con valores, principios, honestidad, veracidad.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Kenneth Ortega M.</h3>
          <p>Cybersecurity</p>
          <p>
            Kevin es un alumno ejemplar y se desempeña bien en el área de
            ingeniería, impartió clases a los alumnos de los primeros ciclos
            para mejorar su aprendizaje continuo. felicidades.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Fabrizio Mayor C.</h3>
          <p>Cloud Architect Trainee</p>
          <p>Great soft skills and always with innovative ideas!</p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Renzo Hijar M.</h3>
          <p>System Engineer</p>
          <p>
            Kevin es un estudiante talentoso y perseverante, con una capacidad
            de superación destacable. Su creatividad y esfuerzo lo llevarán a
            grandes logros tanto en su desarrollo académico como profesional.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Luis Balarezo R.</h3>
          <p>Data Analytics</p>
          <p>
            I've had the pleasure of working with Kevin, and I can confidently
            say he's a skilled professional. During our time at UNMSM, Kevin's
            strong skills in machine learning became evident. His expertise is
            solid.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Stefano Hernández B.</h3>
          <p>Backend Developer</p>
          <p>
            Kevin destaca por su potencial, conocimientos en Machine Learning y
            Minería de Datos, y dominio de Python para análisis de datos.
            Además, sobresale por sus habilidades blandas y trabajo en equipo,
            siendo un colaborador comunicativo y receptivo.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Diego Falla G.</h3>
          <p>Backend Developer</p>
          <p>
            Kevin es un profesional apasionado y dedicado a la inteligencia
            artificial, siempre actualizado y dispuesto a compartir su
            conocimiento. Destaca por su capacidad para resolver problemas
            complejos y trabajar en equipo.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="testimonial-card">
          <img src="/img/imagen1.png" alt="Usuario 3" />
          <h3>Luis Guerra G.</h3>
          <p>Teacher</p>
          <div class="texto-people">
            <p>
              En referencia a una parte académica fue mi ayudante de cátedra en
              el curso “Diseño y análisis de algoritmos” en el ciclo 2024-1 en
              la Escuela de Ingeniería de Sistemas, durante el desarrollo tuvo
              un excelente desempeño con valores, principios, honestidad,
              veracidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  /*------------------ Personas Section ------------------*/
  .testimonial-section {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 900px;
  }

  /* Contenedor principal del carrusel */
  .slider {
    margin: auto;
    position: relative;
    width: 900px;
    overflow: hidden;
  }

  /* Gradientes a los lados para efecto visual */
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      #131b4d 0%,
      rgba(248, 249, 250, 0) 5%,
      rgba(248, 249, 250, 0) 95%,
      #131b4d 100%
    );
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .slider::before {
    left: 0px;
  }

  .slider::after {
    right: 0;
    transform: rotateZ(180deg);
  }

  .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
    height: 400px;
  }

  .slider .slide {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
  }

  /* Tarjeta del testimonio */
  .testimonial-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 230x;
    background-color: #fff;
    height: 100%;
  }

  /* Imagen del usuario */
  .testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  /* Título del testimonio */
  .testimonial-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #131b4d;
  }
  .texto-people {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* Texto del testimonio */
  .testimonial-card p {
    font-size: 14px;
    color: #131b4d;
    padding-bottom: 15px;
  }

  /* Animación para el desplazamiento */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-250px * 7)
      ); /* Ajusta según la cantidad de slides visibles */
    }
  }
  /* Media Query para ajustar en dispositivos móviles */
  @media (max-width: 600px) {
    .slider .slide {
      width: 400px; /* Puedes ajustar este tamaño según necesites */
    }
    .slider .slide-track {
      width: calc(200px * 14);
      animation: scroll 40s linear infinite;
    }
    .slider::before,
    .slider::after {
      display: none;
    }
    .testimonial-card {
      width: 180px;
      padding: 15px;
    }
    .testimonial-card h3 {
      font-size: 16px;
    }
    .testimonial-card p {
      font-size: 13px;
    }
  }
</style>
