---
import CardProyecto from "../components/card-project.astro";
---

<section id="proyectos" class="proyectos-section">
  <h2 class="text-center title-section">Proyect</h2>
  <div class="container-proyectos">
    <CardProyecto
      imagen="/img/bank.jpg"
      title="Bank Fraud - Intelligent Fraud Detection with Machine Learning"
      description="This project applies machine learning to detect fraudulent transactions by analyzing patterns and anomalies in financial data. It leverages supervised and unsupervised models to enhance fraud detection accuracy while minimizing false positives."
      tag={["python", "aws", "scikit-learn"]}
      link_github="https://github.com/Kev-1729/Bank_Fraud"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Employee Turnover Prediction - Predictive Analysis of Workforce Attrition"
      description="This project focuses on analyzing and predicting employee turnover using machine learning techniques. Its objective is to identify patterns and key factors that drive workforce attrition, enabling organizations to implement strategic measures to improve employee retention."
      tag={["python", "aws"]}
      link_github="https://github.com/Kev-1729/Employee_Attrition"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Deforestation Detection - AI-Powered Satellite Image Analysis"
      description="This project detects deforested areas in satellite images using image processing and segmentation techniques. It automates the analysis of large-scale satellite data to calculate the affected areas with high precision."
      tag={["python", "OpenCV", "numpy"]}
      link_github="https://github.com/Kev-1729/Deforestation_Detection"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Waste Classification - AI-Powered Waste Sorting"
      description="This project implements a deep learning model for automatic waste classification into categories such as organic, plastic, glass, metal, cardboard, and paper. It aims to improve recycling efficiency through AI-powered image recognition."
      tag={["python", "Matplotlib", "pandas", "TensorFlow"]}
      link_github="https://github.com/Kev-1729/Waste_Classification"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Climate Analysis Peru - Data-Driven Climate Insights"
      description="This project conducts a comprehensive analysis of climate data in Peru, uncovering trends, seasonal patterns, and regional variations. It aggregates and processes historical and current climate datasets to support environmental research and policy planning."
      tag={["python", "selenium", "Matplotlib", "pandas"]}
      link_github="https://github.com/Kev-1729/Climate_Analysis_Peru"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Automatización SUCAMEC - Streamlining SUCAMEC Processes"
      description="This project automates key processes for SUCAMEC, aiming to optimize and standardize workflows within the organization. By implementing automated data collection, processing, and reporting, the system enhances efficiency and minimizes human error."
      tag={["python", "selenium", "excel"]}
      link_github="https://github.com/Kev-1729/Automatizacion_SUCAMEC"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/imagen1.png"
      title="Exam Scraper - Automated Web Scraping for UNMSM Exams"
      description="This project automates the extraction of exam questions from online sources related to UNMSM admission exams. It collects, processes, and structures the data for analysis and study purposes."
      tag={["python", "selenium"]}
      link_github="https://github.com/Kev-1729/Scraping_Exams_UNMSM"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/courier.jpg"
      title="Testing with Jenkins - CI/CD Pipeline Automation"
      description="This project demonstrates the automation of testing processes using Jenkins. It integrates various types of tests (unit, integration, etc.) into a continuous integration/continuous deployment pipeline, ensuring efficient and reliable code delivery."
      tag={["jenkins", "git", "sql", "php"]}
      link_github="https://github.com/Kev-1729/Testing_with_Jenkins"
      link_deploy=""
    />
    <CardProyecto
      imagen="/img/dataniloweb.jpg"
      title="DataniloWeb - Event Website for Datathon"
      description="DataniloWeb is a web platform designed to showcase information about a datathon, providing participants and attendees with real-time updates on activities, schedules, speakers, and event details."
      tag={["astro", "tailwind", "JavaScript", "html", "css"]}
      link_github="https://github.com/Kev-1729/DataniloWeb"
      link_deploy="https://datanilo-ne5z6kokr-kev-1729s-projects.vercel.app/"
    />
  </div>
</section>
<style>
  /* ------------------ Proyectos ------------------- tag={["Jenkins", "GitHub", "PHP", "SQL"]}*/
  .proyectos-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .container-proyectos {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  /* Media Query para pantallas pequeñas */
  @media (width < 770px) {
    .container-proyectos {
      margin: 0 20px 0 20px;
      gap: 20px;
    }
  }
</style>
